{% extends "base.html" %} {% load static %} {% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<!-- credit for hero section code: love-running-2.0 depreciated project July 2023. Line break was added, as that was more suited to my aesthetic -->
<section id="hero-outer">
  <!--Image taken from https://www.shutterstock.com/image-photo/happy-hiker-winning-reaching-life-goal-366801260 -->
  <img
    src="{{ MEDIA_URL }}homepage_background.jpg"
    class="hero-image"
    alt="Image of a man with hiking equipment exploring some mountains"
  />
  <div class="title-text">
    <h1>Summit Style</h1>
  </div>
  <div class="cover-text">
    <h2>Outdoor clothing, equipment and courses</h2>
  </div>
</section>

<div class="container my-4 text-center">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>
        <a
          href="{% url 'products' %}"
          class="btn btn-index text-uppercase text-center py-2"
          aria-label="Click button to navigate to products page)"
          >Shop Now</a
        >
      </h3>
    </div>
  </div>
</div>

<!-- partnerships-->
<section id="partnerships">
  <div id="center-partnerships">
    <div class="center-partnerships-heading">
      <h2>We're Responsible <i class="fa-solid fa-leaf"></i></h2>
      <hr />
      <p id="partnerships-paragraph">
        As an <strong>adventure store</strong> that sells outdoor clothing and hiking equipment,
        we pride ourselves in the responsible corporate partnerships we hold:
      </p>
      <ul id="partnerships-list">
        <li>
          <a
            href="https://www.paperfoam.com/technology/"
            target="_blank"
            rel="noopener"
            aria-label="Visit this link that states how we partner with paper foam to use recycled packaging (opens in a new tab)"
            >Recycled Packaging:</a
          >
          We take our commitment to the environment seriously, even down to the
          packaging of our <strong>hiking clothes</strong> and
          <strong>equipment for camping in Ireland</strong>. Our innovative
          approach includes using biodegradable and recycled materials for
          packaging, reducing waste and minimizing our carbon footprint
          throughout the shipping process.
        </li>

        <li>
          <a
            href="https://www.reforestnation.ie"
            target="_blank"
            rel="noopener"
            aria-label="Visit this link to read more about our tree planting partnership (opens in a new tab)"
            >Reforest Nation:</a
          >
          Proudly partnering with Reforest Nation, we're not just a business,
          we're stewards of the <strong>outdoors</strong>. Join us as we lead
          the way in responsible corporate practices, planting trees with every
          sale to create a better, greener future. You can take on
          <strong>Ireland's toughest hike</strong> with peace of mind that you
          sourced your gear from a responsible company!
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- were green paragraph -->
<section id="green-text-section">
  <div id="green-text">
    <div class="center-green-heading">
      <h2>We're Green <i class="fa-solid fa-recycle"></i></h2>
      <hr />
      <p>
        See the four points below that show how we are socially responsible and giving back to the
        environment with every sale!
      </p>
    </div>
  </div>
</section>

<!-- responsive green-boxes -->
<!-- credit for responsive boxes code and responsive 'green box' design inspiration: love-running-v3 newest version August 2023 -->
<section id="green-section">
  <div id="green">
    <div id="bcorporation-home">
      <h2>B Corporation</h2>
      <p>
        As a certified B Corporation, we uphold rigorous standards of social and
        environmental performance, transparency and accountability in every
        aspect of our business. This certificate measures a company's entire social
        and environmental impact.
      </p>
    </div>
    <div id="ethical-home">
      <h2>Ethical Sourcing</h2>
      <p>
        We are committed to ethically sourcing materials for our hiking clothes
        and equipment, ensuring fair labor practices and supporting local
        communities while delivering top-quality gear for your outdoor
        adventures.
      </p>
    </div>
    <div id="packaging-home">
      <h2>Recycled Packaging</h2>
      <p>
        We take our commitment to the environment seriously, even down to the
        packaging. Our innovative approach includes using biodegradable and
        recycled materials for packaging, reducing waste and minimizing our
        carbon footprint throughout the shipping process.
      </p>
    </div>
    <div id="tree-home">
      <h2>Tree Planting Partnership</h2>
      <p>
        For every purchase made on our platform, we partner with reforestation
        initiatives to plant a tree in areas affected by deforestation. Join us
        in our mission to not just sustain, but enhance our planet's natural
        beauty for generations to come.
      </p>
    </div>
  </div>
</section>

{% endblock %}
