html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: #3a3a3a;
  display: flex;
  flex-direction: column;
}

/* index page hero image */

#hero-outer {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* credit for object-fit: https://www.w3schools.com/csS/css3_object-fit.asp */

.hero-image {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* index page cover text on hero image */

.title-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 9vh;
  padding: 8px 7px 0px 7px;
  text-align: center;
  border-radius: 14px;
  width: 70%;
  color: black;
  left: 15%;
  right: 15%;
}

.title-text > h1 {
  padding-top: 10px;
  font-size: 220%;
}

.cover-text {
  background-color: rgba(33, 33, 33, 0.8);
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 45vh;
  padding: 8px 7px 0px 7px;
  text-align: center;
  border-radius: 14px;
  width: 78%;
  color: #fef2d8;
  left: 11%;
  right: 11%;
}

.cover-text > h2 {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 120%;
}

/* call to action shop now button */

.btn-index {
  color: black;
  font-weight: 600;
  background-color: yellow;
  border-radius: 22px;
  box-shadow: 0 2px 2px #3a3a3a;
  width: 40%;
  left: 37%;
  right: 37%;
  font-size: 70%;
  padding-top: 14px;
}

/* from Bulma */

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

/* summit style logo */

.brand {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
}

.thin-blue {
  font-weight: 400;
  color: #ffff00;
  background-color: #001efa;
  padding: 2px 6px;
  margin-left: 4px;
}

.main-logo-link {
  width: fit-content;
}

.btn-black {
  background: black;
  color: white;
}

.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

.btn-index:hover,
.btn-index:active,
.btn-index:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

a.category-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

input[name="q"]::placeholder {
  color: #aab7c4;
}

/* bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* were green section */

#green-text {
  padding-top: 5px;
  width: 80%;
  margin: 0 auto;
}

#green-text p {
  font-size: 130%;
}

#green-text i {
  color: #2cbc91;
}

#bcorporation-home {
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

#ethical-home {
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

#tree-home {
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

#packaging-home {
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

#green-section {
  padding: 0% 11% 2%;
  margin-bottom: 6%;
}

#green {
  display: flex;
  flex-wrap: wrap;
}

#green div {
  color: #fffae6;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
  /* There will be no wraping on screens of less than 400px wide */
  flex-basis: 200px;
  flex-grow: 1;
  /* Create a grid over the background */
  border: 2px solid #ffffff;
}

#green h2 {
  color: #fffae6;
  padding: 4%;
}

/* custom footer style */
footer {
  margin-top: auto;
}

.footer-section {
  background-color: #7db6fa;
}

.social-icon {
  color: black;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #fe2c89;
}

.footer-text {
  color: black;
  font-size: 90%;
  font-weight: 500;
}

.contact-text-link {
  font-size: 102%;
  font-weight: 600;
  padding-bottom: 1rem;
}

.contact-text-link a {
  color: #692d5d;
}

.contact-text {
  color: #692d5d;
  font-size: 102%;
  font-weight: 500;
  padding-bottom: 1rem;
}

/* allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8; /* text-info */
}

/* allauth custom css continued */

.you-sure-lo {
  margin-bottom: 6rem;
}

.lo-form {
  margin-bottom: 140px;
}

.email-confirm {
  margin-bottom: 130px;
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

.call-to-action {
  padding-bottom: 1rem;
  margin-top: 3rem;
}

.offers-on-list {
  color: white;
  background-color: black;
}

.button-wrapper {
  margin-bottom: 2.5rem;
}

.prod-detail-describe {
  margin: 0rem 0rem 1rem 0rem;
}

.pd-edit-delete {
  margin-bottom: 2rem;
}

.pd-size {
  margin-top: 1rem;
}

/* custom delivery banner */

.custom-bg-blue {
  background-color: #001efa;
}

.text-banner {
  color: #ffff00;
}

/* products page */

.products-container {
  overflow-x: hidden;
}

.browse-container {
  margin-bottom: 3rem;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f343a;
  color: #fef2d8;
  padding: 10px 20px;
}

.browse-text {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  margin: 0;
  align-items: center;
}

.we-sell-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-top: 8px;
  align-items: center;
}

/* average rating style */
/* credit for avg rating style: https://medium.com/geekculture/django-implementing-star-rating-e1deff03bb1c */

.star-container {
  padding: 1rem 1rem 1rem 0rem;
}

.star-card {
  border: none;
}

.star-card-body {
  padding: 1rem 1rem 1rem 0;
}

.star-buttons {
  margin: 0;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
  color: orange;
}

.rating-list {
  display: inline-block;
  list-style: none;
}
.checked {
  color: orange;
}

/* no rating yet color */
.no-rating {
  color: #001efa;
  font-weight: 400;
}

/* product detail wishlist styling */

.btn-like {
  color: red;
  border: none;
  background: transparent;
}

/* wishlist page */

.heart-note {
  background: #1b1e21;
  color: #ffff00;
  padding: 1rem;
  border-radius: 8px;
  width: 84%;
  margin: 0 auto;
  font-size: 115%;
}

.wl-product-btn,
.contact-btn {
  background: #1b1e21;
  color: #ffff00;
  border: 2px solid #ffff00;
}

.wl-product-btn:hover,
.contact-btn:hover {
  color: white;
}

.wl-rating {
  display: inline-block;
}

.no-items-div {
  margin-bottom: 60px;
}

/* mobile icons */

.mobile-icon-text {
  font-size: 70%;
}

.text-icon {
  color: #001efa;
}

/* rate and review crud panel on product detail page */

.all-reviews {
  border: none;
}

.review-item {
  margin-top: 1rem;
  background-color: #e8f2fe;
  border-radius: 8px;
  padding: 0.5rem;
}

.edit-del-btn {
  background-color: #fffae0;
  color: black;
  font-weight: 500;
  width: 45%;
  font-size: 0.8rem;
}

.btn-primary {
  border-width: 2px;
}

.write-review {
  border: none;
}

/* style for edit review form and confirm delete */

.edit-review-title,
.delete-review-title {
  margin: 3.5rem 0 2rem 0;
  color: #000;
}

.edit-form {
  color: #000;
}

.delete-review {
  color: #000;
  font-size: 140%;
  margin-bottom: 2rem;
}

.review-delete-btn {
  width: 36%;
  margin-top: 2rem;
}

/* contact page */

.contact-container {
  overflow-x: hidden;
}

#hero-outer-contact {
  height: 65vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero-image-contact {
  height: 65vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.contact-heading {
  margin-top: 3rem;
  background-color: #37d0a2;
  border-radius: 14px;
}

.center-contact {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
}

.center-contact-address {
  width: 80%;
  margin: 0 auto;
}

.contact-page-headings {
  width: 100%;
  line-height: 26px;
  margin-bottom: 2rem;
}

.contact-page-headings a {
  font-weight: bold;
}

.contact-page-headings h2 {
  font-size: 170%;
}

.contact-page-headings i {
  color: #2cbc91;
}

.contact-form {
  background-color: #e8f2fe;
  border-radius: 14px;
}

.contact-ul {
  padding-left: 20px;
}

/* mailchimp newsletter styling */

#mc_embed_shell {
  background: #37d0a2;
}

#mc_embed_signup {
  background: #37d0a2;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 1%;
  font-size: 110%;
  margin: 0 auto;
}

.subscribe-heading {
  font-size: 130%;
}

/* partnerships section on index page */

#center-partnerships {
  width: 80%;
  margin: 0 auto;
}

.center-partnerships-heading {
  width: 100%;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.center-partnerships-heading i {
  color: #2cbc91;
}

#partnerships-paragraph {
  padding: 6px;
  font-size: 130%;
  line-height: 180%;
}

#partnerships-list {
  margin-left: 25px;
  padding: 6px;
  line-height: 200%;
  font-size: 110%;
}

#partnerships-list a {
  font-weight: bold;
}

/* education section on index page */

#center-education {
  width: 80%;
  margin: 0 auto;
}

.center-education-heading {
  width: 100%;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.center-education-heading i {
  color: #2cbc91;
}

#education-paragraph {
  padding: 6px;
  font-size: 130%;
  line-height: 180%;
}

#education-list {
  margin-left: 25px;
  padding: 6px;
  line-height: 200%;
  font-size: 110%;
}

#education-list a {
  font-weight: bold;
}

/* checkout success page */

/* credit for word-wrap: https://www.w3schools.com/cssref/css3_pr_word-wrap.php */
.order-email {
  width: 90%;
  max-width: 90%;
  word-wrap: break-word;
}

.checkout-info {
  font-size: 130%;
}

/* search bar custom style */

.search-btn {
  background-color: #001efa;
  border: 1px solid #001efa !important;
  display: inline-block;
  font-weight: 400;
  color: #ffff00;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.search-border {
  border: 1px solid #001efa !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

/* sign in page */

.signin-bg {
  background-color: #fffaef;
  border-radius: 35px;
  width: 98%;
  padding: 2%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.login-paragraph {
  color: black !important;
}

.login-paragraph a {
  color: #692d5d;
  font-weight: 500;
}

.sign-in-form {
  display: flex;
  justify-content: center;
}

#hint_id_password a {
  color: #692d5d;
}

#hint_id_password1 ul {
  padding: 4px 0px 0px 0px;
  list-style-type: none;
}

/* styling the account dropdown */

.dropdown-menu-account {
  min-width: 6rem;
}

.text-category {
  color: black;
  font-size: 1.2rem;
}

/* delete product defensive page */

.deletion-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 2px;
  margin: 4vh 0 4vh 0;
  width: 38%;
}

.sort-select-width {
  width: 70%;
}

/* shopping cart custom style */

.sub-total {
  font-size: 120%;
}

/* styling for custom 404 page */

.error-heading {
  padding-top: 1.5rem;
}

/* media queries */

/* slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
    padding-top: 82px;
  }

  .display-4.logo-font.text-black {
    font-size: 2rem;
  }

  .nav-link {
    padding: 0.15rem;
  }

  .nav-link i.fa-lg {
    font-size: 1rem;
  }

  .navbar-toggler {
    padding: 0.6rem 0.6rem;
    font-size: 1rem;
  }

  #delivery-banner h4 {
    font-size: 0.9rem;
  }

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
    padding: 0.375rem 0.375rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
    padding: 0.375rem 0.375rem;
    font-size: 0.75rem;
  }

  .increment-qty,
  .decrement-qty {
    padding: 0.25rem 0.5rem !important;
  }
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* mailchimp */
  #mc_embed_signup {
    width: 70%;
  }

  /* index page cover text on hero image */
  .title-text {
    top: 13vh;
  }

  .title-text > h1 {
    font-size: 280%;
  }

  .cover-text {
    top: 52vh;
  }

  #green-section {
    margin-bottom: 5%;
  }

  .you-sure {
    font-size: 1.5rem;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* mailchimp */
  #mc_embed_signup {
    width: 55%;
  }

  /* index page cover text on hero image */
  .cover-text {
    width: 50%;
    left: 25%;
    right: 25%;
  }

  .browse-text {
    font-size: 2.8rem;
  }

  .we-sell-text {
    font-size: 1.8rem;
    margin-top: 18px;
  }

  .deletion-btn {
    font-size: 1.5rem;
    width: 25%;
  }
}

/* Very Large devices (large laptop screens and monitors, 1440px and up) */
@media screen and (min-width: 1440px) {
  /* mailchimp */
  #mc_embed_signup {
    width: 45%;
  }

  /* index page cover text on hero image */
  .title-text {
    top: 14vh;
  }

  .title-text > h1 {
    font-size: 340%;
  }

  .cover-text {
    top: 52vh;
    width: 40%;
    left: 30%;
    right: 30%;
  }

  .cover-text > h2 {
    font-size: 170%;
  }

  #green-section {
    margin-bottom: 2%;
  }

  .edit-del-btn {
    width: 38%;
    font-size: 1rem;
  }

  .confirm-del-title {
    font-size: 2.4rem;
    margin: 15vh 0 4vh 0;
  }

  .deletion-btn {
    margin: 4vh 0 15vh 0;
    width: 22%;
  }

  .sort-select-width {
    width: 50%;
  }

  .heart-note {
    width: 50%;
  }
}
