{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="error-container d-flex flex-column flex-grow-1">
  <!-- credit for hero section code: love-running-2.0 depreciated project July 2023-->
  <section id="hero-outer">
    <!-- Image taken from https://www.shutterstock.com/image-photo/happy-hiker-winning-reaching-life-goal-366801260 -->
    <img
      src="{{ MEDIA_URL }}homepage_background.webp"
      class="hero-image"
      alt="Image of a man with hiking equipment exploring some mountains"
    />
    <div class="title-text">
      <h1>Summit Style</h1>
    </div>
    <div class="cover-text">
      <h2>Outdoor clothing, equipment and courses</h2>
    </div>
  </section>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 col-md-8 col-lg-7 my-3">
        <h1 class="display-4 logo-font text-black error-heading">
          The page you are looking for isn't available
        </h1>
        <div class="my-5">
          <h4>
            <a
              href="{% url 'products' %}"
              class="btn btn-index text-uppercase text-center py-2 mt-3 mb-4"
            >
              Return to shop
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
