<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item d-block d-md-none">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="{% url 'home' %}"
        id="home-link"
      >
        Home
      </a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="all-products-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a
          href="{% url 'products' %}?sort=price&direction=asc"
          class="dropdown-item"
          >By Price</a
        >
        <a
          href="{% url 'products' %}?sort=name&direction=asc"
          class="dropdown-item"
          >By Name</a
        >
        <a
          href="{% url 'products' %}?sort=category&direction=asc"
          class="dropdown-item"
          >By Category</a
        >
        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
        <a href="{% url 'products' %}?category=sale" class="dropdown-item"
          >Sale</a
        >
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="clothes-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Clothes
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="clothes-link">
        <a
          href="{% url 'products' %}?category=fleece,coats"
          class="dropdown-item"
          >Fleece &amp; Coats</a
        >
        <a href="{% url 'products' %}?category=sportswear" class="dropdown-item"
          >Sportswear</a
        >
        <a href="{% url 'products' %}?category=pants" class="dropdown-item"
          >Pants</a
        >
        <a href="{% url 'products' %}?category=wetsuits" class="dropdown-item"
          >Wetsuits</a
        >
        <a
          href="{% url 'products' %}?category=fleece,coats,sportswear,pants,wetsuits"
          class="dropdown-item"
          >All Clothes</a
        >
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="equipment-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Equipment
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
        <a href="{% url 'products' %}?category=tents" class="dropdown-item"
          >Tents</a
        >
        <a
          href="{% url 'products' %}?category=sleeping_bags"
          class="dropdown-item"
          >Sleeping Bags</a
        >
        <a
          href="{% url 'products' %}?category=tents,sleeping_bags"
          class="dropdown-item"
          >All Equipment</a
        >
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="courses-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Courses
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="courses-link">
        <a
          href="{% url 'products' %}?category=tent_building"
          class="dropdown-item"
          >Tent Building</a
        >
        <a
          href="{% url 'products' %}?category=outdoor_skills"
          class="dropdown-item"
          >Outdoor Skills</a
        >
        <a
          href="{% url 'products' %}?category=tent_building,outdoor_skills"
          class="dropdown-item"
          >All Courses</a
        >
      </div>
    </li>

    <li class="nav-item">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="{% url 'my_wishlist' %}"
        id="testimonial-link"
        aria-expanded="false"
      >
        Wishlist
      </a>
    </li>
    
    <li class="nav-item">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="contact-link"
        aria-expanded="false"
      >
        Contact
      </a>
    </li>
  </ul>
</div>
