{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="contact-container d-flex flex-column flex-grow-1">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="text-black contact-heading p-2">Contact</h1>

      <div class="row justify-content-center text-black">
        <div class="col-10 col-md-7 my-4 p-4 contact-form">
          <h2>Would you like to contact us?</h2>
          <p>
            Welcome to the Summit Style contact form! Let us know the topic
            you're interested in chatting about. If you're eyeing a course,
            don't forget to specify your availability timeframe. We're eager to
            hear from you and help you gear up for your next summit adventure!
          </p>

          <!-- contact form -->
          <form method="post">
            {{ contact_form | crispy }} {% csrf_token %}
            <button
              class="btn contact-btn"
              aria-label="click this button to submit your contact request"
              type="submit"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
