{% extends "base.html" %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block title %}Edit Review{% endblock %} {% block content %}
<div class="edit-review-container d-flex flex-column flex-grow-1">
  <div class="container">
    <!-- edit review form -->
    <form
      method="POST"
      enctype="multipart/form-data"
      class="p-2 form edit-form"
    >
      <h1 class="text-center edit-review-title">Edit Review</h1>
      {% csrf_token %} {{ form.media }} {{ form|crispy }}
      <div class="text-center">
        <a
          href="{% url 'products' %}"
          class="btn btn-primary mt-2 custom-bg-blue"
          >Cancel</a
        >
        <button type="submit" class="btn btn-primary mt-2 custom-bg-blue">
          Edit Review
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
