{% extends "base.html" %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block title %}Delete review {{ object.title }}{% endblock %}
{% block content %}
<div class="edit-review-container d-flex flex-column flex-grow-1">
  <h1 class="text-center delete-review-title">Confirm Review Deletion</h1>
  <div class="d-flex justify-content-center pt-3">
    <form method="post" class="text-center delete-review">
      {% csrf_token %}
      <p>
        Are you sure you want to delete the review titled, "{{object.title}}"?
      </p>
      <div class="d-flex justify-content-center">
        <input
          type="submit"
          value="Confirm"
          class="btn btn-primary mx-1 custom-bg-blue deletion-btn"
        />
        <a
          href="{% url 'products' %}"
          class="btn btn-primary custom-bg-blue mx-1 deletion-btn"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
